<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <meta http-equiv="x-ua-compatible" content="ie=edge" />
      <title>MTN Play</title>
      <meta name="description" content="" />
      <meta name="keywords" content="" />
      <link rel="icon" type="image/png" href="{{base_path ~ directory}}/image/mtn-logo.png" />
   </head>
   <body>
      <div class="top-header">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <ul class="top-menu text-right">
                     <li><a href="javascript:void(0)">Why MTN?</a></li>
                     <li><a href="javascript:void(0)">Foundation</a></li>
                     <li><a href="javascript:void(0)">Careers</a></li>
                     <li><a href="javascript:void(0)">Investors</a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <div class="container">
         <div class="row">
            <div class="col-12">
               <nav class="navbar navbar-expand-md main-header">
                  <a class="navbar-brand" href="play.html"><img src="{{base_path ~ directory}}/image/mtn-logo.png"></a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mt-navbar" aria-controls="mt-navbar" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="fas fa-align-justify"></i>
                  </button>
                  <div class="collapse navbar-collapse" id="mt-navbar">
                     <div class="navbar-nav">
                        <li class="nav-item">
                           <a href="javascript:void(0)" class="nav-link">Shop</a>
                        </li>
                        <li class="nav-item">
                           <a href="play.html" class="nav-link">Play</a>
                        </li>
                        <li class="nav-item">
                           <a href="javascript:void(0)" class="nav-link">Business</a>
                        </li>
                        <li class="nav-item">
                           <a href="javascript:void(0)" class="nav-link">Offers</a>
                        </li>
                     </div>
                  </div>
                  <div class="navbar-nav ml-auto d-block-mobile">
                     <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link">
                           <div class="form-group m-0">
                              <input type="text" class="form-control m-0" placeholder="Search products">
                              <img src="{{base_path ~ directory}}/image/icons-search.png">
                           </div>
                        </a>
                     </li>
                     <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link cart-top">
                        <img src="{{base_path ~ directory}}/image/cart.png">
                        <span class="cart-count">2</span>
                        </a>
                     </li>
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           <div class="profile-section">
                              <img src="{{base_path ~ directory}}/image/profile.jpg" width="40" height="40" class="rounded-circle mr-2">
                              <div class="profile-name">
                                 <p class="m-0">Abukabar <span class="float-right"><i class="fas fa-chevron-down ml-2"></i></span></p>
                                 <p class="m-0"><small>0806 677 6478</small></p>
                              </div>
                           </div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                           <a class="dropdown-item" href="javascript:void(0)">Profile</a>
                           <a class="dropdown-item" href="javascript:void(0)">Log Out</a>
                        </div>
                     </li>
                  </div>
               </nav>
            </div>
         </div>
      </div>
      <div class="container">
         <div class="row">
            <div class="col-lg-12 col-sm-12 col-12">
               <nav class="navbar p-0 play-top-filter navbar-expand-md bg-transparent mt-5 shadow-0">
                  <div class="navbar-nav d-block-mobile-pagination">
                     <li class="nav-item">
                        <a href="#" class="nav-link ml-0">Home</a>
                     </li>
                     <li class="nav-item">
                        <a href="#" class="nav-link text-white">Play</a>
                     </li>
                  </div>
                  <div class="navbar-nav ml-auto d-block-mobile">
                     <li class="dropdown megamenu-li nav-item">
                        <a class="dropdown-toggle nav-link" href="#" id="categories" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories <i class="fas fa-chevron-down"></i></a>
                        <div class="dropdown-menu megamenu p-2" aria-labelledby="categories">
                           <div class="row">
                              <div class="col-lg-6 col-sm-12 col-12">
                                 <div class="drop-category">
                                    <h6 class="text-white mb-3">Categories</h6>
                                    <div class="row">
                                       <div class="col-lg-4 col-sm-4 col-6">
                                          <div class="category-box">
                                             <img src="{{base_path ~ directory}}/image/profile.jpg" class="w-100">
                                             <div class="category-box-overlay">
                                                <p class="m-0">Movies</p>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="col-lg-4 col-sm-4 col-6">
                                          <div class="category-box">
                                             <img src="{{base_path ~ directory}}/image/profile.jpg" class="w-100">
                                             <div class="category-box-overlay">
                                                <p class="m-0">TV Shows</p>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="col-lg-4 col-sm-4 col-6">
                                          <div class="category-box">
                                             <img src="{{base_path ~ directory}}/image/profile.jpg" class="w-100">
                                             <div class="category-box-overlay">
                                                <p class="m-0">Kids</p>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="col-lg-4 col-sm-4 col-6">
                                          <div class="category-box">
                                             <img src="{{base_path ~ directory}}/image/profile.jpg" class="w-100">
                                             <div class="category-box-overlay">
                                                <p class="m-0">Nollywood</p>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="col-lg-4 col-sm-4 col-6">
                                          <div class="category-box">
                                             <img src="{{base_path ~ directory}}/image/profile.jpg" class="w-100">
                                             <div class="category-box-overlay">
                                                <p class="m-0">mPulse</p>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-lg-6 col-sm-12 col-12">
                                 <div class="drop-category-menu">
                                    <h6 class="text-white mb-3">Generes</h6>
                                    <ul>
                                       <li><a href="#">Drama</a></li>
                                       <li><a href="#">Hollywood</a></li>
                                       <li><a href="#">Action and adventure</a></li>
                                       <li><a href="#">Sports</a></li>
                                       <li><a href="#">Romance</a></li>
                                       <li><a href="#">Thriller</a></li>
                                       <li><a href="#">Comedy</a></li>
                                       <li><a href="#">Fantasy</a></li>
                                       <li><a href="#">Suspense</a></li>
                                       <li><a href="#">Horror</a></li>
                                       <li><a href="#">Award winners</a></li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </li>
                     <li class="dropdown megamenu-li nav-item">
                        <a class="dropdown-toggle nav-link" href="#" id="channels" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Channels <i class="fas fa-chevron-down"></i></a>
                        <div class="dropdown-menu megamenu p-2" aria-labelledby="channels">
                           <div class="row">
                              <div class="col-lg-6 col-sm-12 col-12">
                                 <div class="drop-category">
                                    <h6 class="text-white mb-3">Categories</h6>
                                    <div class="row">
                                       <div class="col-lg-4 col-sm-4 col-6">
                                          <div class="category-box">
                                             <img src="{{base_path ~ directory}}/image/profile.jpg" class="w-100">
                                             <div class="category-box-overlay">
                                                <p class="m-0">Movies</p>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="col-lg-4 col-sm-4 col-6">
                                          <div class="category-box">
                                             <img src="{{base_path ~ directory}}/image/profile.jpg" class="w-100">
                                             <div class="category-box-overlay">
                                                <p class="m-0">TV Shows</p>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="col-lg-4 col-sm-4 col-6">
                                          <div class="category-box">
                                             <img src="{{base_path ~ directory}}/image/profile.jpg" class="w-100">
                                             <div class="category-box-overlay">
                                                <p class="m-0">Kids</p>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="col-lg-4 col-sm-4 col-6">
                                          <div class="category-box">
                                             <img src="{{base_path ~ directory}}/image/profile.jpg" class="w-100">
                                             <div class="category-box-overlay">
                                                <p class="m-0">Nollywood</p>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="col-lg-4 col-sm-4 col-6">
                                          <div class="category-box">
                                             <img src="{{base_path ~ directory}}/image/profile.jpg" class="w-100">
                                             <div class="category-box-overlay">
                                                <p class="m-0">mPulse</p>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-lg-6 col-sm-12 col-12">
                                 <div class="drop-category-menu">
                                    <h6 class="text-white mb-3">Generes</h6>
                                    <ul>
                                       <li><a href="#">Drama</a></li>
                                       <li><a href="#">Hollywood</a></li>
                                       <li><a href="#">Action and adventure</a></li>
                                       <li><a href="#">Sports</a></li>
                                       <li><a href="#">Romance</a></li>
                                       <li><a href="#">Thriller</a></li>
                                       <li><a href="#">Comedy</a></li>
                                       <li><a href="#">Fantasy</a></li>
                                       <li><a href="#">Suspense</a></li>
                                       <li><a href="#">Horror</a></li>
                                       <li><a href="#">Award winners</a></li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </li>
                     <li class="dropdown megamenu-li nav-item">
                        <a class="dropdown-toggle nav-link" href="#" id="vas" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">VAS <i class="fas fa-chevron-down"></i></a>
                        <div class="dropdown-menu megamenu p-2" aria-labelledby="vas">
                           <div class="row">
                              <div class="col-lg-6 col-sm-12 col-12">
                                 <div class="drop-category">
                                    <h6 class="text-white mb-3">Categories</h6>
                                    <div class="row">
                                       <div class="col-lg-4 col-sm-4 col-6">
                                          <div class="category-box">
                                             <img src="{{base_path ~ directory}}/image/profile.jpg" class="w-100">
                                             <div class="category-box-overlay">
                                                <p class="m-0">Movies</p>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="col-lg-4 col-sm-4 col-6">
                                          <div class="category-box">
                                             <img src="{{base_path ~ directory}}/image/profile.jpg" class="w-100">
                                             <div class="category-box-overlay">
                                                <p class="m-0">TV Shows</p>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="col-lg-4 col-sm-4 col-6">
                                          <div class="category-box">
                                             <img src="{{base_path ~ directory}}/image/profile.jpg" class="w-100">
                                             <div class="category-box-overlay">
                                                <p class="m-0">Kids</p>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="col-lg-4 col-sm-4 col-6">
                                          <div class="category-box">
                                             <img src="{{base_path ~ directory}}/image/profile.jpg" class="w-100">
                                             <div class="category-box-overlay">
                                                <p class="m-0">Nollywood</p>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="col-lg-4 col-sm-4 col-6">
                                          <div class="category-box">
                                             <img src="{{base_path ~ directory}}/image/profile.jpg" class="w-100">
                                             <div class="category-box-overlay">
                                                <p class="m-0">mPulse</p>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-lg-6 col-sm-12 col-12">
                                 <div class="drop-category-menu">
                                    <h6 class="text-white mb-3">Generes</h6>
                                    <ul>
                                       <li><a href="#">Drama</a></li>
                                       <li><a href="#">Hollywood</a></li>
                                       <li><a href="#">Action and adventure</a></li>
                                       <li><a href="#">Sports</a></li>
                                       <li><a href="#">Romance</a></li>
                                       <li><a href="#">Thriller</a></li>
                                       <li><a href="#">Comedy</a></li>
                                       <li><a href="#">Fantasy</a></li>
                                       <li><a href="#">Suspense</a></li>
                                       <li><a href="#">Horror</a></li>
                                       <li><a href="#">Award winners</a></li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </li>
                     <li class="megamenu-li nav-item">
                        <a href="#" class="nav-link">My watchlist</a>
                     </li>
                  </div>
               </nav>
            </div>
         </div>
      </div>

      <div class="container-fluid mt-5">
         <div class="row">
            <div class="col-12">
               <div id="main-slider" class="owl-carousel" >
                  <div class="cotinue-streaming" >
                     <div class="image-slide">
                        <img src="{{base_path ~ directory}}/image/banner-top1.png">
                        <div class="shadow-slide">
                           <img src="{{base_path ~ directory}}/image/netflix.png">
                        </div>
                     </div>
                  </div>
                  <div class="cotinue-streaming" >
                     <div class="image-slide">
                        <img src="{{base_path ~ directory}}/image/continue2.jpg">
                        <div class="shadow-slide">
                           <img src="{{base_path ~ directory}}/image/netflix.png">
                        </div>
                     </div>
                  </div>
                  <div class="cotinue-streaming" >
                     <div class="image-slide">
                        <img src="{{base_path ~ directory}}/image/banner-top1.png">
                        <div class="shadow-slide">
                           <img src="{{base_path ~ directory}}/image/netflix.png">
                        </div>
                     </div>
                  </div>
                  <div class="cotinue-streaming" >
                     <div class="image-slide">
                        <img src="{{base_path ~ directory}}/image/continue4.webp">
                        <div class="shadow-slide">
                           <img src="{{base_path ~ directory}}/image/netflix.png">
                        </div>
                     </div>
                  </div>
                  <div class="cotinue-streaming" >
                     <div class="image-slide">
                        <img src="{{base_path ~ directory}}/image/continue3.webp">
                        <div class="shadow-slide">
                           <img src="{{base_path ~ directory}}/image/netflix.png">
                        </div>
                     </div>
                  </div>
                  <div class="cotinue-streaming" >
                     <div class="image-slide">
                        <img src="{{base_path ~ directory}}/image/continue4.webp">
                        <div class="shadow-slide">
                           <img src="{{base_path ~ directory}}/image/netflix.png">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="container mt-5">
         <div class="row">
            <div class="col-12">
               <ul class="button-group-top">
                  <li><a href="#/">Nollywood</a></li>
                  <li><a href="#/">Hollywood</a></li>
                  <li><a href="#/">Sports 🏉</a></li>
                  <li><a href="#/">Comedy</a></li>
                  <li><a href="#/">Drama</a></li>
                  <li><a href="#/">Thriller</a></li>
                  <li><a href="#/">Fantasy</a></li>
                  <li><a href="#/">Horror</a></li>
                  <li><a href="#/">TV Shows</a></li>
               </ul>
            </div>
         </div>
      </div>
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <h5 class="text-white mb-3 mt-5">Continue streaming (7) 👀</h5>
               <div id="cotinue-streaming-slider" class="owl-carousel">
                  <div class="cotinue-streaming">
                     <div class="image-slide">
                        <img src="{{base_path ~ directory}}/image/continue1.webp">
                        <div class="shadow-slide">
                           <img src="{{base_path ~ directory}}/image/netflix.png">
                        </div>
                     </div>
                     <div class="progress progress-bar-streaming">
                        <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                     </div>
                  </div>
                  <div class="cotinue-streaming">
                     <div class="image-slide">
                        <img src="{{base_path ~ directory}}/image/continue2.jpg">
                        <div class="shadow-slide">
                           <img src="{{base_path ~ directory}}/image/netflix.png">
                        </div>
                     </div>
                     <div class="progress progress-bar-streaming">
                        <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                     </div>
                  </div>
                  <div class="cotinue-streaming">
                     <div class="image-slide">
                        <img src="{{base_path ~ directory}}/image/continue3.webp">
                        <div class="shadow-slide">
                           <img src="{{base_path ~ directory}}/image/netflix.png">
                        </div>
                     </div>
                     <div class="progress progress-bar-streaming">
                        <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                     </div>
                  </div>
                  <div class="cotinue-streaming">
                     <div class="image-slide">
                        <img src="{{base_path ~ directory}}/image/continue4.webp">
                        <div class="shadow-slide">
                           <img src="{{base_path ~ directory}}/image/netflix.png">
                        </div>
                     </div>
                     <div class="progress progress-bar-streaming">
                        <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <h5 class="text-white mb-3 mt-5">Selection for you 👇 <span class="float-right"><small><a href="#/" class="play-color">View all <i class="fas fa-chevron-right ml-2 "></i></a></small></span></h5>
               <div id="selection-for-you-slider" class="owl-carousel">
                  <div class="selection-for-you">
                     <div class="image-slide">
                        <img src="{{base_path ~ directory}}/image/seletion1.jpg">
                        <div class="shadow-slide">
                           <img src="{{base_path ~ directory}}/image/prime.png">
                        </div>
                        <i class="fas fa-lock lock-img"></i>
                     </div>
                  </div>
                  <div class="selection-for-you">
                     <div class="image-slide">
                        <img src="{{base_path ~ directory}}/image/seletion2.jpg">
                        <div class="shadow-slide">
                           <img src="{{base_path ~ directory}}/image/prime.png">
                        </div>
                        <i class="fas fa-lock lock-img"></i>
                     </div>
                  </div>
                  <div class="selection-for-you">
                     <div class="image-slide">
                        <img src="{{base_path ~ directory}}/image/seletion3.jpg">
                        <div class="shadow-slide">
                           <img src="{{base_path ~ directory}}/image/prime.png">
                        </div>
                        <i class="fas fa-lock lock-img"></i>
                     </div>
                  </div>
                  <div class="selection-for-you">
                     <div class="image-slide">
                        <img src="{{base_path ~ directory}}/image/seletion4.jpg">
                        <div class="shadow-slide">
                           <img src="{{base_path ~ directory}}/image/prime.png">
                        </div>
                        <i class="fas fa-lock lock-img"></i>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="container mt-5">
         <div class="row">
            <div class="col-12">
               <ul class="nav nav-tabs" role="tablist">
                  <li><a href="#Podcasts" class="active" aria-controls="Podcasts" role="tab" data-toggle="tab">Podcasts</a></li>
                  <li><a href="#Music" aria-controls="Music" role="tab" data-toggle="tab">Music</a></li>
               </ul>
            </div>
         </div>
         <div class="row">
            <div class="col-12 ">
               <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="Podcasts">
                     <div id="podcost-slider" class="owl-carousel">
                        <div class="podcost">
                           <div class="image-slide">
                              <img src="{{base_path ~ directory}}/image/seletion1.jpg">
                              <div class="shadow-slide">
                                 <img src="{{base_path ~ directory}}/image/bbc.png">
                              </div>
                           </div>
                        </div>
                        <div class="podcost">
                           <div class="image-slide">
                              <img src="{{base_path ~ directory}}/image/seletion2.jpg">
                              <div class="shadow-slide">
                                 <img src="{{base_path ~ directory}}/image/bbc.png">
                              </div>
                           </div>
                        </div>
                        <div class="podcost">
                           <div class="image-slide">
                              <img src="{{base_path ~ directory}}/image/seletion3.jpg">
                              <div class="shadow-slide">
                                 <img src="{{base_path ~ directory}}/image/bbc.png">
                              </div>
                           </div>
                        </div>
                        <div class="podcost">
                           <div class="image-slide">
                              <img src="{{base_path ~ directory}}/image/seletion4.jpg">
                              <div class="shadow-slide">
                                 <img src="{{base_path ~ directory}}/image/bbc.png">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="Music">
                     <div id="music-slider" class="owl-carousel">
                        <div class="podcost">
                           <div class="image-slide">
                              <img src="{{base_path ~ directory}}/image/seletion1.jpg">
                              <div class="shadow-slide">
                                 <img src="{{base_path ~ directory}}/image/bbc.png">
                              </div>
                           </div>
                        </div>
                        <div class="podcost">
                           <div class="image-slide">
                              <img src="{{base_path ~ directory}}/image/seletion2.jpg">
                              <div class="shadow-slide">
                                 <img src="{{base_path ~ directory}}/image/bbc.png">
                              </div>
                           </div>
                        </div>
                        <div class="podcost">
                           <div class="image-slide">
                              <img src="{{base_path ~ directory}}/image/seletion3.jpg">
                              <div class="shadow-slide">
                                 <img src="{{base_path ~ directory}}/image/bbc.png">
                              </div>
                           </div>
                        </div>
                        <div class="podcost">
                           <div class="image-slide">
                              <img src="{{base_path ~ directory}}/image/seletion4.jpg">
                              <div class="shadow-slide">
                                 <img src="{{base_path ~ directory}}/image/bbc.png">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="container mt-5">
         <div class="row">
            <div class="col-12">
               <ul class="nav nav-tabs" role="tablist">
                  <li><a href="#Movies" class="active" aria-controls="Movies" role="tab" data-toggle="tab">Movies</a></li>
                  <li><a href="#Shows" aria-controls="Shows" role="tab" data-toggle="tab">Shows</a></li>
                  <li><a href="#LiveTv" aria-controls="LiveTv" role="tab" data-toggle="tab">Live TV</a></li>
               </ul>
            </div>
         </div>
         <div class="row">
            <div class="col-12 ">
               <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="Movies">
                     <div id="movies-slider" class="owl-carousel">
                        <div class="podcost">
                           <div class="image-slide">
                              <img src="{{base_path ~ directory}}/image/seletion1.jpg">
                              <div class="shadow-slide">
                                 <img src="{{base_path ~ directory}}/image/prime.png">
                              </div>
                           </div>
                        </div>
                        <div class="podcost">
                           <div class="image-slide">
                              <img src="{{base_path ~ directory}}/image/seletion2.jpg">
                              <div class="shadow-slide">
                                 <img src="{{base_path ~ directory}}/image/netflix.png">
                              </div>
                           </div>
                        </div>
                        <div class="podcost">
                           <div class="image-slide">
                              <img src="{{base_path ~ directory}}/image/seletion3.jpg">
                              <div class="shadow-slide">
                                 <img src="{{base_path ~ directory}}/image/netflix.png">
                              </div>
                           </div>
                        </div>
                        <div class="podcost">
                           <div class="image-slide">
                              <img src="{{base_path ~ directory}}/image/seletion4.jpg">
                              <div class="shadow-slide">
                                 <img src="{{base_path ~ directory}}/image/prime.png">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="Shows">
                     <div id="shows-slider" class="owl-carousel">
                        <div class="podcost">
                           <div class="image-slide">
                              <img src="{{base_path ~ directory}}/image/seletion1.jpg"> 
                              <div class="shadow-slide">
                                 <img src="{{base_path ~ directory}}/image/prime.png">
                              </div>
                           </div>
                        </div>
                        <div class="podcost">
                           <div class="image-slide">
                              <img src="{{base_path ~ directory}}/image/seletion2.jpg">
                              <div class="shadow-slide">
                                 <img src="{{base_path ~ directory}}/image/prime.png">
                              </div>
                           </div>
                        </div>
                        <div class="podcost">
                           <div class="image-slide">
                              <img src="{{base_path ~ directory}}/image/seletion3.jpg">
                              <div class="shadow-slide">
                                 <img src="{{base_path ~ directory}}/image/prime.png">
                              </div>
                           </div>
                        </div>
                        <div class="podcost">
                           <div class="image-slide">
                              <img src="{{base_path ~ directory}}/image/seletion4.jpg">
                              <div class="shadow-slide">
                                 <img src="{{base_path ~ directory}}/image/prime.png">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="LiveTv">
                     <div id="livetv-slider" class="owl-carousel">
                        <div class="podcost">
                           <div class="image-slide">
                              <img src="{{base_path ~ directory}}/image/seletion1.jpg">
                              <div class="shadow-slide">
                                 <img src="{{base_path ~ directory}}/image/prime.png">
                              </div>
                           </div>
                        </div>
                        <div class="podcost">
                           <div class="image-slide">
                              <img src="{{base_path ~ directory}}/image/seletion2.jpg">
                              <div class="shadow-slide">
                                 <img src="{{base_path ~ directory}}/image/prime.png">
                              </div>
                           </div>
                        </div>
                        <div class="podcost">
                           <div class="image-slide">
                              <img src="{{base_path ~ directory}}/image/seletion3.jpg">
                              <div class="shadow-slide">
                                 <img src="{{base_path ~ directory}}/image/prime.png">
                              </div>
                           </div>
                        </div>
                        <div class="podcost">
                           <div class="image-slide">
                              <img src="{{base_path ~ directory}}/image/seletion4.jpg">
                              <div class="shadow-slide">
                                 <img src="{{base_path ~ directory}}/image/prime.png">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <h5 class="text-white mb-3 mt-5">Trending 🕺 <span class="float-right"><small><a href="#/" class="play-color">View all <i class="fas fa-chevron-right ml-2 "></i></a></small></span></h5>
               <div id="trending-slider" class="owl-carousel">
                  <div class="selection-for-you">
                     <div class="image-slide">
                        <img src="{{base_path ~ directory}}/image/seletion1.jpg">
                        <div class="shadow-slide">
                           <img src="{{base_path ~ directory}}/image/prime.png">
                        </div>
                        <i class="fas fa-lock lock-img"></i>
                        <span class="trending-count">1</span>
                     </div>
                  </div>
                  <div class="selection-for-you">
                     <div class="image-slide">
                        <img src="{{base_path ~ directory}}/image/seletion2.jpg">
                        <div class="shadow-slide">
                           <img src="{{base_path ~ directory}}/image/prime.png">
                        </div>
                        <i class="fas fa-lock lock-img"></i>
                        <span class="trending-count">2</span>
                     </div>
                  </div>
                  <div class="selection-for-you">
                     <div class="image-slide">
                        <img src="{{base_path ~ directory}}/image/seletion3.jpg">
                        <div class="shadow-slide">
                           <img src="{{base_path ~ directory}}/image/prime.png">
                        </div>
                        <i class="fas fa-lock lock-img"></i>
                        <span class="trending-count">3</span>
                     </div>
                  </div>
                  <div class="selection-for-you">
                     <div class="image-slide">
                        <img src="{{base_path ~ directory}}/image/seletion4.jpg">
                        <div class="shadow-slide">
                           <img src="{{base_path ~ directory}}/image/prime.png">
                        </div>
                        <i class="fas fa-lock lock-img"></i>
                        <span class="trending-count">4</span>
                     </div>
                  </div>
                  <div class="selection-for-you">
                     <div class="image-slide">
                        <img src="{{base_path ~ directory}}/image/seletion3.jpg">
                        <div class="shadow-slide">
                           <img src="{{base_path ~ directory}}/image/prime.png">
                        </div>
                        <i class="fas fa-lock lock-img"></i>
                        <span class="trending-count">5</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <h5 class="text-white mb-3 mt-5">MTN Shortz 📺<span class="float-right">
                  <small>
                  <a href="#/" class="play-color">View all <i class="fas fa-chevron-right ml-2 "></i></a></small></span>
               </h5>
               <div id="mtn-shortz-slider" class="owl-carousel">
                  <div class="cotinue-streaming">
                     <div class="image-slide">
                        <img src="{{base_path ~ directory}}/image/continue1.webp">
                        <p class="p-2 bg-dark text-white">Abangani</p>
                     </div>
                  </div>
                  <div class="cotinue-streaming">
                     <div class="image-slide">
                        <img src="{{base_path ~ directory}}/image/continue2.jpg">
                        <p class="p-2 bg-dark text-white">Abangani</p>
                     </div>
                  </div>
                  <div class="cotinue-streaming">
                     <div class="image-slide">
                        <img src="{{base_path ~ directory}}/image/continue3.webp">
                        <p class="p-2 bg-dark text-white">Abangani</p>
                     </div>
                  </div>
                  <div class="cotinue-streaming">
                     <div class="image-slide">
                        <img src="{{base_path ~ directory}}/image/continue4.webp">
                        <p class="p-2 bg-dark text-white">Abangani</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="container">
         <div class="row">
            <div class="col-12">
               <h5 class="text-white mb-3 mt-5">Game zone 🏉</h5>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-2 col-sm-4 col-6">
               <div class="game-zone">
                  <img src="{{base_path ~ directory}}/image/game2.jpg" class="w-100 rounded">
               </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6">
               <div class="game-zone">
                  <img src="{{base_path ~ directory}}/image/game1.jpeg" class="w-100 rounded">
               </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6">
               <div class="game-zone">
                  <img src="{{base_path ~ directory}}/image/game4.jpg" class="w-100 rounded">
               </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6">
               <div class="game-zone">
                  <img src="{{base_path ~ directory}}/image/game3.jpg" class="w-100 rounded">
               </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6">
               <div class="game-zone">
                  <img src="{{base_path ~ directory}}/image/game5.jpg" class="w-100 rounded">
               </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6">
               <div class="game-zone">
                  <img src="{{base_path ~ directory}}/image/game6.png" class="w-100 rounded">
               </div>
            </div>
         </div>
      </div>
      <div class="container">
         <div class="row">
            <div class="col-12">
               <h5 class="text-white mb-3 mt-5">Value added services</h5>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-2 col-sm-4 col-6">
               <div class="category-box">
                  <img src="{{base_path ~ directory}}/image/profile.jpg" class="w-100">
                  <div class="category-box-overlay">
                     <p class="m-0">CallerTunez</p>
                  </div>
               </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6">
               <div class="category-box">
                  <img src="{{base_path ~ directory}}/image/profile1.jpg" class="w-100">
                  <div class="category-box-overlay">
                     <p class="m-0">CallerFeel</p>
                  </div>
               </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6">
               <div class="category-box">
                  <img src="{{base_path ~ directory}}/image/profile2.webp" class="w-100">
                  <div class="category-box-overlay">
                     <p class="m-0">Lucky number</p>
                  </div>
               </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6">
               <div class="category-box">
                  <img src="{{base_path ~ directory}}/image/profile3.jpg" class="w-100">
                  <div class="category-box-overlay">
                     <p class="m-0">CallerTunez</p>
                  </div>
               </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6">
               <div class="category-box">
                  <img src="{{base_path ~ directory}}/image/profile4.webp" class="w-100">
                  <div class="category-box-overlay">
                     <p class="m-0">CallerTunez</p>
                  </div>
               </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-6">
               <div class="category-box">
                  <img src="{{base_path ~ directory}}/image/profile5.jpg" class="w-100">
                  <div class="category-box-overlay">
                     <p class="m-0">Lucky number</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="container">
         <div class="row">
            <div class="col-12">
               <h5 class="text-white mb-3 mt-5">Explore channels 💫</h5>
            </div>
         </div>
         <div class="row">
            <div class="col-12">
               <div id="channels-news-slider" class="owl-carousel">
               <div class="explore-chanel explore-chanel1 text-center">
                  <img src="{{base_path ~ directory}}/image/liv.png">
                  <p class="text-white m-0">We liv to <br> Entertain</p>
                  <i class="fas fa-lock lock-img"></i>
               </div>
           
               <div class="explore-chanel explore-chanel2 text-center">
                  <img src="{{base_path ~ directory}}/image/netflix.png">
                  <p class="text-white m-0">See what’s <br>
                     next
                  </p>
               </div>
            
               <div class="explore-chanel explore-chanel3 text-center">
                  <img src="{{base_path ~ directory}}/image/prime.png">
                  <p class="text-white m-0">A new era of <br>
                     originals
                  </p>
                  <i class="fas fa-lock lock-img"></i>
               </div>
         
               <div class="explore-chanel explore-chanel4 text-center">
                  <img src="{{base_path ~ directory}}/image/show.png">
                  <p class="text-white m-0">Everyone's  <br>
                     Anywhere TV
                  </p>
                  <i class="fas fa-lock lock-img"></i>
               </div>
     
               <div class="explore-chanel explore-chanel5 text-center">
                  <img src="{{base_path ~ directory}}/image/pulse.png">
                  <p class="text-white m-0">It’s go <br>
                     time
                  </p>
               </div>
            
               <div class="explore-chanel explore-chanel6 text-center">
                  <img src="{{base_path ~ directory}}/image/bbc.png">
                  <p class="text-white m-0">Live the  <br>
                     story
                  </p>
               </div>

               <div class="explore-chanel explore-chanel7 text-center">
                  <img src="{{base_path ~ directory}}/image/cnn.png">
                  <p class="text-white m-0">Live the  <br>
                     story
                  </p>
               </div>
            </div>
            </div>
         </div>
      </div>
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <h5 class="text-white mb-3 mt-5">Trending news</h5>
               <div id="trending-news-slider" class="owl-carousel">
                  <div class="selection-for-you">
                     <div class="trending-news-row">
                        <div class="trending-news-col1">
                           <img src="{{base_path ~ directory}}/image/news1.png" class="w-100">
                        </div>
                        <div class="trending-news-col2">
                           <h6 class="text-white m-0">Nigerian govt to invest $2.76 billion in Dangote refinery, $1.5 billion</h6>
                           <p>Today | 2 mins</p>
                        </div>
                     </div>
                  </div>
                  <div class="selection-for-you">
                     <div class="trending-news-row">
                        <div class="trending-news-col1">
                           <img src="{{base_path ~ directory}}/image/news2.png" class="w-100">
                        </div>
                        <div class="trending-news-col2">
                           <h6 class="text-white m-0">Nigerian govt to invest $2.76 billion in Dangote refinery, $1.5 billion</h6>
                           <p>Today | 2 mins</p>
                        </div>
                     </div>
                  </div>
                  <div class="selection-for-you">
                     <div class="trending-news-row">
                        <div class="trending-news-col1">
                           <img src="{{base_path ~ directory}}/image/news3.png" class="w-100">
                        </div>
                        <div class="trending-news-col2">
                           <h6 class="text-white m-0">Nigerian govt to invest $2.76 billion in Dangote refinery, $1.5 billion</h6>
                           <p>Today | 2 mins</p>
                        </div>
                     </div>
                  </div>
                  <div class="selection-for-you">
                     <div class="trending-news-row">
                        <div class="trending-news-col1">
                           <img src="{{base_path ~ directory}}/image/news1.png" class="w-100">
                        </div>
                        <div class="trending-news-col2">
                           <h6 class="text-white m-0">Nigerian govt to invest $2.76 billion in Dangote refinery, $1.5 billion</h6>
                           <p>Today | 2 mins</p>
                        </div>
                     </div>
                  </div>
                  <div class="selection-for-you">
                     <div class="trending-news-row">
                        <div class="trending-news-col1">
                           <img src="{{base_path ~ directory}}/image/news2.png" class="w-100">
                        </div>
                        <div class="trending-news-col2">
                           <h6 class="text-white m-0">Nigerian govt to invest $2.76 billion in Dangote refinery, $1.5 billion</h6>
                           <p>Today | 2 mins</p>
                        </div>
                     </div>
                  </div>
                  <div class="selection-for-you">
                     <div class="trending-news-row">
                        <div class="trending-news-col1">
                           <img src="{{base_path ~ directory}}/image/news3.png" class="w-100">
                        </div>
                        <div class="trending-news-col2">
                           <h6 class="text-white m-0">Nigerian govt to invest $2.76 billion in Dangote refinery, $1.5 billion</h6>
                           <p>Today | 2 mins</p>
                        </div>
                     </div>
                  </div>
                  <div class="selection-for-you">
                     <div class="trending-news-row">
                        <div class="trending-news-col1">
                           <img src="{{base_path ~ directory}}/image/news3.png" class="w-100">
                        </div>
                        <div class="trending-news-col2">
                           <h6 class="text-white m-0">Nigerian govt to invest $2.76 billion in Dangote refinery, $1.5 billion</h6>
                           <p>Today | 2 mins</p>
                        </div>
                     </div>
                  </div>
                  <div class="selection-for-you">
                     <div class="trending-news-row">
                        <div class="trending-news-col1">
                           <img src="{{base_path ~ directory}}/image/news3.png" class="w-100">
                        </div>
                        <div class="trending-news-col2">
                           <h6 class="text-white m-0">Nigerian govt to invest $2.76 billion in Dangote refinery, $1.5 billion</h6>
                           <p>Today | 2 mins</p>
                        </div>
                     </div>
                  </div>
                  <div class="selection-for-you">
                     <div class="trending-news-row">
                        <div class="trending-news-col1">
                           <img src="{{base_path ~ directory}}/image/news3.png" class="w-100">
                        </div>
                        <div class="trending-news-col2">
                           <h6 class="text-white m-0">Nigerian govt to invest $2.76 billion in Dangote refinery, $1.5 billion</h6>
                           <p>Today | 2 mins</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="footer">
         <div class="container">
            <div class="row">
               <div class="col-lg-6 col-sm-6 col-12">
                  <h5 class="color-g-type">Get in touch</h5>
                  <p class="text-white">Get Inspiration, new arrivals and the latest offers to your inbox</p>
               </div>
               <div class="col-lg-4 col-sm-6 col-12">
                  <div class="form-group">
                     <label class="color-g-type m-0">Sign up for emails</label>
                     <input type="text" class="form-control footer-input" value="xyz@gmail.com">
                  </div>
               </div>
            </div>
            <hr class="footer-hr">
            <div class="row">
               <div class="col-lg-2 col-sm-4 col-12">
                  <div class="footer-links">
                     <h5>Quick links</h5>
                     <span class="footer-link-line"></span>
                     <ul>
                        <li><a href="javascript:void(0)">Recharge</a></li>
                        <li><a href="javascript:void(0)">Share & Borrow</a></li>
                        <li><a href="javascript:void(0)">Data Plans</a></li>
                        <li><a href="javascript:void(0)">Roaming</a></li>
                        <li><a href="javascript:void(0)">International Calls</a></li>
                        <li><a href="javascript:void(0)">Business Plans</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-2 col-sm-4 col-12">
                  <div class="footer-links">
                     <h5>Entertainments</h5>
                     <span class="footer-link-line"></span>
                     <ul>
                        <li><a href="javascript:void(0)">Play</a></li>
                        <li><a href="javascript:void(0)">MoMo</a></li>
                        <li><a href="javascript:void(0)">Events</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-2 col-sm-4 col-12">
                  <div class="footer-links">
                     <h5>Account Services</h5>
                     <span class="footer-link-line"></span>
                     <ul>
                        <li><a href="javascript:void(0)">Paybill</a></li>
                        <li><a href="javascript:void(0)">Switch to MTN</a></li>
                        <li><a href="javascript:void(0)">NIN Update</a></li>
                        <li><a href="javascript:void(0)">SIM Services</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-2 col-sm-4 col-12">
                  <div class="footer-links">
                     <h5>Help & Support</h5>
                     <span class="footer-link-line"></span>
                     <ul>
                        <li><a href="javascript:void(0)">Contact us</a></li>
                        <li><a href="javascript:void(0)">FAQ'S</a></li>
                        <li><a href="javascript:void(0)">Track your order</a></li>
                        <li><a href="javascript:void(0)">Zigi</a></li>
                        <li><a href="javascript:void(0)">Ask your community</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-2 col-sm-4 col-12">
                  <div class="footer-links">
                     <h5>MTN Nigeria</h5>
                     <span class="footer-link-line"></span>
                     <ul>
                        <li><a href="javascript:void(0)">Who we are</a></li>
                        <li><a href="javascript:void(0)">MTN Business</a></li>
                        <li><a href="javascript:void(0)">For Investors</a></li>
                        <li><a href="javascript:void(0)">MTN Foundation</a></li>
                        <li><a href="javascript:void(0)">Careers</a></li>
                        <li><a href="javascript:void(0)">News Center</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-2 col-sm-4 col-12">
                  <div class="footer-links">
                     <h5>Feedback</h5>
                     <span class="footer-link-line"></span>
                     <p class="color-g-type">Your comments help us improve our website and services</p>
                     <button class="btn btn-mtn btn-sm">Feedback</button>
                  </div>
               </div>
            </div>
            <hr class="footer-hr">
            <div class="row">
               <div class="col-lg-6 col-sm-6 col-12">
                  <div class="footer-copy-right">
                     <img src="{{base_path ~ directory}}/image/mtn-logo.png" class="mr-3">
                     <p class="color-g-type m-0"><i class="far fa-copyright mr-2"></i>MTN Nigeria Communications PLC, All rights <br> reserved. Privacy Policy & Data Protection</p>
                  </div>
               </div>
               <div class="col-lg-6 col-sm-6 col-12">
                  <div class="footer-social-media">
                     <ul>
                        <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fab fa-linkedin"></i></a></li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="row mt-5">
               <div class="col-lg-10 col-sm-8 col-12">
                  <div class="footer-bottom-menu">
                     <ul>
                        <li><a href="javascript:void(0)">Privacy Policy & Data Protection</a></li>
                        <li>|</li>
                        <li><a href="javascript:void(0)">Accessibility</a></li>
                        <li>|</li>
                        <li><a href="javascript:void(0)">Sitemap</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-2 col-sm-3 col-12">
                  <div class="form-group">
                     <select class="form-control bg-transparent radious-50">
                        <option>Nigeria</option>
                     </select>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--   <div class="login-link-overlay shadow">
         <p class="m-0 color-g-type">Exclusive savings when you by SIM only or Socialmedia bundles. <a href="javascript:void(0)" class="color-mtn font-weight-bold">Login to get your discount</a></p>
         </div> -->
      <!-- <div class="chat-wp collapse" id="chat-box-pop">
         <div class="chart-block"  data-toggle="collapse" data-target="#chat-box-pop"> <img src="{{base_path ~ directory}}/image/chat-icon.png" border="0" alt=""> </div>
         <div class="chart-close"  data-toggle="collapse" data-target="#chat-box-pop"> <img src="{{base_path ~ directory}}/image/chat-close.png" border="0" alt=""> </div>
         <div class="page-content page-container popup-chart" id="page-content">
            <div class="row-not container-not d-flex justify-content-center">
               <div class="chart-box-wd">
                  <div class="card card-bordered">
                     <div class="card-header">
                        <h4 class="card-title">  
                           <span class="top-chart-img"> <img src="{{base_path ~ directory}}/image/chat-zigi.png" border="0"> </span>
                           <strong>Ziggy</strong>
                        </h4>
                        <a class="btn btn-xs btn-secondary btn-minus" href="javascript:void(0)"  data-toggle="collapse" data-target="#chat-box-pop"></a>
                     </div>
                     <div class="ps-container ps-theme-default ps-active-y" id="chat-content" style="overflow-y: scroll !important; height:400px !important;">
                        <div class="media media-meta-day">Today <time datetime="2021">4:07PM</time></div>
                        <div class="media media-chat">
                           <div class="zigi-proson">  <img src="{{base_path ~ directory}}/image/zigi-cion3.png" border="0"> </div>
                           <div class="media-body">
                              <div class="name-1"> Ziggy</div>
                              <p>Hi there! Howr can I help you out there?</p>
                              <p>We will go on sunday? </p>
                              <p class="meta"><time datetime="2018">00:07</time></p>
                           </div>
                        </div>
                        <div class="media media-chat media-chat-reverse">
                           <div class="media-body">
                              <p>Raise new complaint</p>
                              <p>Check airtime blance</p>
                              <p>Check data blance</p>
                              <p>Recent transaction</p>
                              <p class="meta"><time datetime="2018">00:06</time></p>
                           </div>
                        </div>
                        <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                           <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                        </div>
                        <div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;">
                           <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div>
                        </div>
                     </div>
                     <div class="publisher bt-1 border-light">
                        <div class="text-type"> Other? Type here </div>
                        <a class="publisher-btn" href="javascript:void(0)" data-abc="true">  <img src="{{base_path ~ directory}}/image/chat-attach.png" border="0"> </a> 
                        <a class="publisher-btn text-info" href="javascript:void(0)" data-abc="true"> <img src="{{base_path ~ directory}}/image/chat-photo.png" border="0"> </a> 
                        <input class="publisher-input" type="text" placeholder="Start typing here"> 
                        <a class="publisher-btn sent-icon" href="javascript:void(0)" data-abc="true"> <img src="{{base_path ~ directory}}/image/chat-sent.png" border="0"> </a> 
                     </div>
                  </div>
               </div>
            </div>
         </div>
         </div> -->
   </body>
</html>